<!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" >
    <a routerLink="acceuil">Acceuil</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="don">Appareils</a>
  </li>
  
</ul> -->

<nav class="navbar navbar-expand-lg navbar-dark indigo danger-color">
  <a class="navbar-brand" href="#">Banque de Sang du Sénégal</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item active" id="nav"  routerLinkActive="active">
        <a class="nav-link" routerLink="acceuil" style="color:white;font-size:30px;font-family: 'Oswald', sans-serif;">Acceuil</a>
      </li>
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="comprendre" style="color:white;font-size:30px;font-family: 'Oswald', sans-serif">Comprendre</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="soigné" style="color:white;font-size:30px;font-family: 'Oswald', sans-serif">pathologies soignée</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="view" style="color:white;font-size:30px;font-family: 'Oswald', sans-serif">S'inscrire</a>
      </li>
      
    </ul>
  </div>
</nav>