
<div class="container"><br><br>

   <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-12 mb-3">
  
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" class="img-fluid z-depth-1" alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  <div>
    <h2 class="center">Choisissez votre greoupe sanguin</h2>
  </div>

  <button type="button" class="btn btn-primary btn-rounded" (click)="onNewPostAplus()"><i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe A+ </button>
  <button type="button" class="btn btn-default btn-rounded" (click)="onNewPostBplus()"><i class="fa fa-heartbeat" aria-hidden="true"> </i> Groupe B+ </button>
  <button type="button" class="btn btn-secondary btn-rounded" (click)="onNewPostBmoins()"><i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe B- </button>
  <button type="button" class="btn btn-success btn-rounded" (click)="onNewPostOplus()"><i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe O+ </button>
  <button type="button" class="btn btn-info btn-rounded" (click)="onNewPostAmoins()"><i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe A- </button>
  <button type="button" class="btn btn-warning btn-rounded" (click)="onNewPostABplus()"> <i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe AB+ </button>
  <button type="button" class="btn btn-danger btn-rounded"(click)="onNewPostABmoins()"><i class="fa fa-heartbeat" aria-hidden="true"></i> Groupe AB-</button>

</div>