
<div class="container col-md-10">
  <h1>Les pathologies soignées</h1><br>

  <p id="soigne">Chaque année, un million de malades sont soignés grâce aux dons de sang, par transfusion ou avec des médicaments dérivés
  du sang. La transfusion sanguine, en particulier, est indispensable, voire vitale, dans le traitement de nombreuses pathologies.</p><br>

  <p>Les produits sanguins sont prescrits dans deux grandes indications thérapeutiques : les hémorragies – lors d’un accouchement,
  d’une intervention chirurgicale ou d’un accident – d’une part et les maladies du sang et les cancers d’autre part.</p><br>

  <h2>Les hémorragies</h2><br>

  <p>Au cours d’un accouchement, une hémorragie peut survenir, entraînant un besoin urgent et important de produits sanguins.
  Dans ces situations d’urgence, ceux-ci doivent être disponibles en moins d’une demi-heure. En cas d’hémorragie lors d’une
  intervention chirurgicale ou après un accident, il faut procéder à une transfusion de globules rouges. Lorsqu’un patient
  perd beaucoup de sang lors d’une intervention il reçoit aussi des plaquettes qui contribuent à arrêter le saignement et facilitent
  la coagulation. La transfusion de plasma est quant à elle notamment indiquée en cas d’hémorragie importante ou pour les grands
  brûlés.</p><br>

  <h2>Les maladies du sang et les cancers</h2><br>

  <p>Les cancers du sang, comme les leucémies – mais aussi les lymphomes, les myélomes et la myélodysplasie – affectent directement
  la production des cellules sanguines dans la moelle osseuse. Le traitement de ces maladies nécessite, selon les cas, la transfusion
  de globules rouges et/ou de plaquettes, et requiert souvent de grandes quantités de produits sanguins. Par ailleurs, le traitement
  intensif des cancers par chimiothérapie entraîne non seulement la destruction des cellules cancéreuses mais également celle
  des cellules la moelle osseuse, qui sont à l’origine des cellules sanguines. Durant cette période dite d’aplasie, l’organisme
  ne pouvant plus les renouveler, d’importantes transfusions de plaquettes et de globules rouges sont alors nécessaires. Quant
  aux patients atteints de certaines maladies génétiques affectant les globules rouges, ils reçoivent des transfusions sanguines
  tout au long de leur vie. C’est le cas par exemple des malades atteints de drépanocytose ou de thalassémie.</p><br>

  <h2>L'exemple de la drépanocytose</h2><br>

  <p>La drépanocytose est la maladie génétique la plus répandue dans le monde et en France. Dans notre pays, environ 20 000 personnes
  en sont atteintes (dont 5 000 en région parisienne). 400 bébés touchés par la drépanocytose naissent chaque année en France,
  soit un nouveau-né sur 6 000. Cette pathologie génétique est particulièrement fréquente dans les populations originaires
  d’Afrique subsaharienne, des Antilles, d’Inde, du Moyen-Orient et du bassin méditerranéen. Elle touche des personnes de tous
  âges qui ont besoin de transfusions régulières pour continuer à vivre. Cette maladie héréditaire se caractérise par une anomalie
  de l’hémoglobine, la protéine présente dans les globules rouges qui assure le transport de l’oxygène dans le sang. Prenant
  la forme d’une faucille, les globules rouges des personnes atteintes de drépanocytose deviennent fragiles et se détruisent
  plus rapidement. Ce qui provoque une anémie chronique (baisse du taux d’hémoglobine), entraînant de nombreux symptômes (pâleur,
  fatigue anormale, essoufflement…). Ainsi déformés, ces globules rouges obstruent également les vaisseaux sanguins et peuvent
  bloquer la circulation. Le sang de ces malades doit donc être renouvelé à intervalles réguliers.</p>




</div>