<div class="container col-md-10">
  <h1>Les besoins au quotidien</h1><br>

  <p id="sujet">Secours d’urgence, interventions chirurgicales, maladies du sang, cancers… Les besoins en produits sanguins sont quotidiens
   et ont fortement augmenté au cours des quinze dernières années.</p><br>

   <h2>Produits sanguins : quels sont les besoins ?</h2><br>

   <p>Aujourd’hui, il n’existe aucun traitement ni médicament de synthèse capable de se substituer au sang humain et aux produits
  sanguins labiles (PSL), issus des dons de sang. Cet acte volontaire et bénévole est donc irremplaçable. En France, les besoins
  pour soigner les malades nécessitent 10 000 dons de sang par jour. Et ce chiffre a tendance à augmenter... En effet, jusqu’en
  2013, sous l’effet combiné de l’allongement de l’espérance de vie et des progrès de la médecine, la consommation de produits
  sanguins a enregistré une croissance de 1 à 3 % par an. Les besoins en globules rouges se sont ainsi accrus de 29 % entre
  2002 et 2012.</p><br>

  <h2>Situations d’urgence et besoins chroniques</h2><br>

  <p>Situations d’urgence et besoins chroniques Le don de sang permet de soigner plus d’un million de malades chaque année en
  France. Irremplaçables et vitaux, les produits sanguins sont utilisés dans deux grands cas de figure : les situations d’urgence
  (hémorragies lors d’un accouchement, d’un accident, d’une opération chirurgicale…) et les besoins chroniques (maladies du
  sang et cancers). Les produits sanguins sont également employés pour fabriquer des médicaments (immunoglobulines, facteurs
  de coagulation…). Aujourd’hui, plus de 200 maladies sont ainsi traitées avec des substances produites à partir du plasma.
  Et les patients bénéficiant de ces traitements représentent à eux seuls la moitié des malades soignés en France grâce aux
  dons de sang.</p><br>

  <h2> L’utilisation des produits sanguins</h2><br>

  <p>Selon une enquête nationale* sur les receveurs de produits sanguins, menée par l’EFS, les maladies du sang et les cancers
  demeurent les pathologies les plus consommatrices de produits sanguins : elles concernent près de la moitié (47 %) des patients
  transfusés. Les interventions chirurgicales concernent quant à elles un peu plus du tiers (35 %) des patients transfusés.
  Cette étude a également révélé que 80 % des produits transfusés sont des globules rouges, que 52 % des transfusions sont
  programmées et que l’âge moyen des receveurs est de 65 ans.
  Les produits sanguins labiles, issus des dons de sang, ont une durée de vie limitée. C’est pourquoi, pour répondre aux besoins
  des malades, la mobilisation des donneurs est nécessaire de manière régulière et continue.</p><br>

  <h2>Le nombre de dons varie avec les saisons</h2><br>

  <p>certaines périodes de l’année, les dons sont moins nombreux, ce qui entraîne fréquemment une diminution des réserves de
  produits sanguins, alors que les besoins des malades restent importants. Les mois de décembre et janvier avec les vacances
  de Noël et les épidémies de grippe constituent un moment particulièrement sensible pour les réserves de l’EFS. C’est aussi
  le cas de juillet et août, en raison d’une offre de collecte moins importante. Or, en septembre, la rentrée signe la reprise
  d’une activité hospitalière soutenue (opérations programmées…), et donc, dans le même temps, une hausse de la consommation
  en produits sanguins.</p>




</div>